header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f5f5;
  color: #0a0a0a;
  padding: 10px 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: auto;
  margin-left: auto;

}

.group-counts {
  text-align: right;
  margin-left: auto;
  display: inline-flex;
}

h2{
  margin-left: 20px;
}
