<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (ngModelChange)="searchGroups()"
    placeholder="Search Groups"
  />
</div>

<div class="group-list">

<div class="sort">
  <button (click)="sortGroupsAscending('group_name')">Top to Bottom</button>
  <button (click)="sortGroupsDescending('group_name')">Bottom to Top</button>

</div>


  <table>
    <thead>
      <tr>
        <th>Sl.no</th>
        <th>Group Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let group of groups; let i = index">
        <!-- Regular row -->

        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ group.group_name }}</td>
          <td>
            <div class="action-icons">
              <mat-icon fontIcon="delete"(click)="deleteGroup(group.id)"
              ></mat-icon>
              <mat-icon fontIcon="home" (click)="copyGroup(group)"></mat-icon>

              <mat-icon fontIcon="edit" (click)="openEditForm(group)" ></mat-icon>

              <mat-icon
                class="expand-icon"
                fontIcon="keyboard_arrow_down"
                (click)="toggleExpansion(i)"
                [class.expanded]="expandedRow === i"
              ></mat-icon>
            </div>
          </td>
        </tr>
        <!-- Expandable row -->
        <tr *ngIf="expandedRow === i">
          <td colspan="3">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="member-list">
                  <p *ngFor="let member of group.add_members">
                    {{ member }}
                    <mat-icon
                      fontIcon="delete"
                      (click)="deleteMember(group, member)"
                    ></mat-icon>
                  </p>
                </div>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
