/* Apply grey background to the entire table */
.group-list table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px; /* Add space between rows */
}

/* Style for regular rows */
.group-list tr {
  background-color: #e0dede; /* White background color for regular rows */
}

/* Style for expanded rows */
.group-list tr.expanded-row {
  background-color: #faf6f6
  ; /* White background color for expanded rows */
}

/* Apply padding to the table cells */
.group-list td {
  padding: 10px; /* Adjust padding as needed */
  font-weight: 500;
}
.group-list th {
  height: 50px; /* Adjust padding as needed */
}
/* Style for the mat-expansion-panel */
.group-list mat-expansion-panel {
  width: 100%;
  background-color: #fff; /* White background color for expansion panel */
}

/* Style for the mat-expansion-panel content */
.group-list mat-expansion-panel-content {
  padding: 16px; /* Add padding to the expansion panel content */
}
.search-bar input{
  width: 120px;
  margin-top: 3px;
  height: 27px;
  margin-left: 20px;
}

.member-list {
  display: flex;
  flex-wrap: wrap; /* Wrap members to the next line if there's not enough space */
}

.member-item {
  display: flex;
  align-items: center; /* Vertically align members and icons */
  margin-right: 10px; /* Add some space between members */
}
.sort{
  display: inline;
  position:absolute;
  right: 0;
  top:150px;
}
