/* Style for the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
h2{
  text-align: center;
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 8px;
}

/* Style for form input fields */
input[type="text"] {
  width: 40%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the "Add Member" button */
button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the "Submit" button */
button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the "Remove Member" button */
button[type="button"]:last-child {
  margin-right: 0;
}

/* Style for form errors */
.ng-invalid.ng-touched input[type="text"] {
  border-color: #dc3545;
}

/* Style for form error messages */
.ng-invalid.ng-touched .error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}

/* Style for form success message */
.success-message {
  color: #28a745;
  font-size: 16px;
  margin-top: 10px;
}
